@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

html {
  background-color: #0a050d;
}

h1 {
  color: #fff;
}

body {
  margin: 0;
}
